<h1>Directors</h1>

<a href="http://localhost:3000/directors/new_form">Add a New Director</a>

<a href="http://localhost:3000/directors/:id">View</a>
<a href="http://localhost:3000/directors/:id/:edit">Edit</a>
<a href="http://localhost:3000/delete_director/:id">Delete</a>
