<h1>Add Director</h1>

<form action: "http://localhost:3000/create_row">
<div>
    <label for="director_name">Name:</label>
    <input id="director_name" type="text" name="name">
  </div>
  <div>
    <label for="director_bio">Bio:</label>
    <input id="director_bio" type="text" name="bio">
  </div>
  <div>
    <label for="director_dob">DOB:</label>
    <input id="director_dob" type="text" name="dob">
  </div>
  <div>
    <label for="director_image_url">Image URL:</label>
    <input id="director_image_url" type="text" name="image_source">
  </div>
  <div>
    <button>Create Director</button>
  </div>
</form>
